.chat-card {
  display: flex;
  padding: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif; /* <-- Add Roboto here */
  &:hover {
    background-color: #f5f5f5;
    border-radius: 10px;
    // padding: 20px;
  }

  .ant-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    background-image: linear-gradient(#c435c8, #5e68f0);
  }

  .avatar {
    margin-right: 12px;
  }

  .content {
    width: 100%;
    font-family: "Roboto", sans-serif;

    .top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date-dropdown-container {
        display: flex;
        align-items: center;
        gap: 8px;
        .anticon-down {
          color: #838383;
          width: 13px;
          height: 13px;
        }
      }

      .name {
        color: var(--text-primary);
        font-size: 18px;
        font-weight: 400;
        margin: 0;
        max-width: 200px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        font-family: "Roboto", sans-serif;
      }

      .date {
        font-size: 12px;
        color: #838383;
        font-family: "Roboto", sans-serif;
      }
    }

    .message-section {
      margin-top: 4px;
      font-family: "Roboto", sans-serif;

      .message-time-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;

        .message {
          font-size: 14px;
          color: #7a7a7a;
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          white-space: nowrap; // required
          overflow: hidden; // required
          text-overflow: ellipsis; // required
          display: block; // recommended (makes ellipsis more reliable)
          max-width: 50%;
          flex: 1; // allow message text to take remaining space
          // margin-right: 8px;
        }

        .time {
          font-size: 12px;
          color: gray;
          margin-left: 8px;
          white-space: nowrap;
          font-family: "Roboto", sans-serif;
        }
        .time-container {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
.dropdown-item {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;

  .dropdown-icon {
    color: #7a7a7a;
    font-size: 14px;
  }
  .anticon-pushpin {
    color: #377def;
  }
  .anticon-folder {
    color: #377def;
  }
  .anticon-block {
    color: #ff2324;
  }
  .anticon-delete {
    color: #ff2324;
    &:hover {
      color: #ffffff;
    }
  }
}
